doctype html
html(class="no-js", lang="ru")

    include ../components/bemto/bemto
    include ../components/head/head.pug
    include ../components/footer/footer.pug
    include ../components/header/header
    include ../components/balance/balance
    include ../components/advantages/advantages
    include ../components/gameboard/gameboard
    include ../components/chat/chat
    head
        +head(head.defaults)
    body.page
        +chat()
        .content
            +header()
            +gameboard()
  
            +advantages()
        +footer()
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')