html, body
    height 100%
.page
    cursor: default;
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    user-select: none;
    background $c-bg
.content
    max-width: 1017px;
    width: 100%;
    margin: auto;
    box-sizing: border-box
    @media screen and (max-width: 719px)
        padding: 0 10px;        
        overflow hidden
ul
    margin 0
    padding 0
    li
        list-style none
.demo-item
    display none
    &.active
        display block
.demo-item-pic
    display none
    &.active
        display block
.b-rub 
    font-family: 'ALSRubl-Arial', Arial, sans-serif;
    font-style: normal;
.block
    border-radius: 7px;
    background-color: $b-while;
    margin-bottom 10px;
    &__body
        padding 23px 30px 23px 28px
.block-hide-mob
    @media screen and (max-width: 719px)
        display none
h1.title
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top 0;
    margin-bottom: 21px;
    color: #ffffff;
.text-block p
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 19px;
    &:last-child
        margin-bottom 0
.logo
    img
        @media screen and (max-width: 719px)
            display none
    &_visibility
        &_mob
            display none
            @media screen and (max-width: 719px)
                display block !important
.block-live
    background-color: #2a0e3e;
    margin 0 -10px;
    padding 0 10px
    display none
    @media screen and (max-width: 719px)
        display block
    &__title
        font-size: 14px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.56px;
        color: $c-gray
    &__head
        display flex
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .live__footer
            margin 0
            border: none;
    &__body
        padding-top 5px
        padding-bottom: 4px;
        margin: 0 -10px;
        .live
            width: 270px;
        .live__main
            margin-top 0
p
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    @media screen and (max-width: 719px)
        font-size 12px
