@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('../fonts/alsrubl-arial-regular.eot');
  src: url('../fonts/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/alsrubl-arial-regular.woff') format('woff'), url('../fonts/alsrubl-arial-regular.ttf') format('truetype'), url('../fonts/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('../fonts/alsrubl-arial-bold.eot');
  src: url('../fonts/alsrubl-arial-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/alsrubl-arial-bold.woff') format('woff'), url('../fonts/alsrubl-arial-bold.ttf') format('truetype'), url('../fonts/alsrubl-arial-bold.svg#ALSRublArialBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('../fonts/OpenSans-Light'), url('../fonts/OpenSanslight.woff2') format('woff2'), url('../fonts/OpenSanslight.woff') format('woff'), url('../fonts/OpenSanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('../fonts/OpenSans-Light'), url('../fonts/OpenSanslight.woff2') format('woff2'), url('../fonts/OpenSanslight.woff') format('woff'), url('../fonts/OpenSanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('../fonts/OpenSansLight-Italic'), url('../fonts/OpenSanslightitalic.woff2') format('woff2'), url('../fonts/OpenSanslightitalic.woff') format('woff'), url('../fonts/OpenSanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('../fonts/OpenSans'), url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('../fonts/OpenSans-Italic'), url('../fonts/OpenSansitalic.woff2') format('woff2'), url('../fonts/OpenSansitalic.woff') format('woff'), url('../fonts/OpenSansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('../fonts/OpenSans-Semibold'), url('../fonts/OpenSanssemibold.woff2') format('woff2'), url('../fonts/OpenSanssemibold.woff') format('woff'), url('../fonts/OpenSanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('../fonts/OpenSans-SemiboldItalic'), url('../fonts/OpenSanssemibolditalic.woff2') format('woff2'), url('../fonts/OpenSanssemibolditalic.woff') format('woff'), url('../fonts/OpenSanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('../fonts/OpenSans-Bold'), url('../fonts/OpenSansbold.woff2') format('woff2'), url('../fonts/OpenSansbold.woff') format('woff'), url('../fonts/OpenSansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('../fonts/OpenSans-BoldItalic'), url('../fonts/OpenSansbolditalic.woff2') format('woff2'), url('../fonts/OpenSansbolditalic.woff') format('woff'), url('../fonts/OpenSansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('../fonts/OpenSans-Extrabold'), url('../fonts/OpenSansextrabold.woff2') format('woff2'), url('../fonts/OpenSansextrabold.woff') format('woff'), url('../fonts/OpenSansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('../fonts/OpenSans-ExtraboldItalic'), url('../fonts/OpenSansextrabolditalic.woff2') format('woff2'), url('../fonts/OpenSansextrabolditalic.woff') format('woff'), url('../fonts/OpenSansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}