mixin chat(data)
    .chat-open
    .chat
        .chat__wrap
            .chat__head
                .tabs.tabs_group
                    .tabs__item.live-hide
                        span ЛАЙВ
                    .tabs__item.active
                        span ЧАТ
                .chat__status
                    span 2 394
            .tabs__content
                .tabs__content-item.live-hide
                    .live-main
                        .live.live1
                            .live__messages
                                .live__header
                                    .live__header-categories
                                        svg(xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewbox="0 0 15 14")
                                            g(fill="#AE9FB5" fill-rule="evenodd")
                                                circle(cx="7.5" cy="3.5" r="3.5")
                                                circle(cx="3.5" cy="10.5" r="3.5")
                                                circle(cx="11.5" cy="10.5" r="3.5")
                                        span Стэпбол
                                        span.hide Ставка 10
                                            i.b-rub ₽
                                    .live__header-bonus
                                        span X2.55
                                .live__main
                                    .live__main-price
                                        span 736 846
                                        i.b-rub ₽
                                    .live__main-name Ибрагим Байбеков 
                        .live.live2
                            .live__messages
                                .live__header
                                    .live__header-categories
                                        svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16")
                                            g(fill="none" fill-rule="evenodd")
                                                rect(width="16" height="16" fill="#AE9FB5" rx="3")
                                                circle(cx="10.64" cy="5.5" r="1.5" fill="#372E44")
                                                circle(cx="5.5" cy="5.402" r="1.5" fill="#372E44")
                                                circle(cx="10.5" cy="10.672" r="1.5" fill="#372E44")
                                                circle(cx="5.5" cy="10.5" r="1.5" fill="#372E44")
                                        span Дайсы
                                        span.hide Ставка 10₽
                                    .live__header-bonus
                                        span X3.55
                                .live__main
                                    .live__main-price
                                        span 305 000
                                        i.b-rub ₽
                                    .live__main-name Ибрагим Байбеков 
                    .live__footer.dropdown(data-menu="menu-one")
                        .drop-menu
                            ul
                                li.active(data-live=".")  Выигрыши от 500
                                li Грабители
                                li Мои игры
                                li(data-live=".live1") Только Стэпбол
                                li Только Краш
                                li(data-live=".live2") Только Дайсы
                        span Выигрыши от 500
                        span.arrow
                .tabs__content-item
                    .chat__main.chat-messages-desktop
                        .chat__messages
                            .chat__messages-name
                                span Саша Воронин
                            .chat__messages-text От скольки рублей вывод?
                            .chat__messages-panel
                                .chat__messages-item.answer
                                    a(name="m58879") Ответить
                                .chat__messages-item.user
                                    a(href="") Профиль
                                .chat__messages-item.close
                        .chat__messages
                            .chat__messages-name
                                span Саша Воронин
                                span.arrow
                                span(title="Пабло Диего Хосе Франциско де Паула Хуан Непомукено Криспин Криспиано де ла Сантисима Тринидад Руиз и Пикассо")
                                    | Пабло Диего Хосе Франциско де Паула Хуан Непомукено Криспин Криспиано де ла Сантисима Тринидад Руиз и Пикассо
                            .chat__messages-text От скольки рублей вывод?
                        .chat__messages.chat__messages_admin
                            .chat__messages-name
                                span Кэп
                            .chat__messages-text Внимание! Конкурса сегодня нет.
                        .chat__messages
                            .chat__messages-name
                                span Саша Воронин
                            .chat__messages-text От скольки рублей вывод?
                        .chat__messages
                            .chat__messages-name
                                span Саша Воронин
                            .chat__messages-text От скольки рублей вывод? 
                        .chat__messages
                            .chat__messages-name
                                span Саша Воронин
                            .chat__messages-text От скольки рублей вывод?
                    .chat__footer
                        .chat-error
                            .chat__messages-name
                                span Вам ограничен доступ в чат на
                            .chat__messages-text 365 дней
                        form
                            input#message(name="message" placeholder="Введите текст")
                        a(href="#")
                            svg#default_4(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 23 20")
                                defs
                                    path#aya(d="M12.919-.628l7.312 12.434a8.945 8.945 0 0 1 1.021 6.479l-.468 2.102a1 1 0 0 1-1.481.645l-5.97-3.495L12.207 6.17h-.308l-.947 11.366-5.633 3.505a1 1 0 0 1-1.483-.55l-.679-2.175a8.074 8.074 0 0 1 .74-6.489L11.194-.627a1 1 0 0 1 1.725-.001z")
                                use(fill="#8E749B" transform="rotate(90 11.627 9.536)" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#aya")
