
.chat {
  width: 300px;
  transform: translateX(300px);
  transition: all .3s;
  height: 100%;
  border-left: solid 1px #3b0060;
  background-color: #1f1828;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  z-index 9999;
}
.chat.open {
  transform: translateX(0);
}

.chat__main {
  height: calc(100% - 90px);
  position: relative;
  overflow-y: auto;
}
.chat__main::-webkit-scrollbar {
  width: 0px;
}
.chat__wrap {
  padding: 18px 16px;
  height: 100%;
  box-sizing: border-box;
}
.chat__footer {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: auto;
  margin: 0 -16px;
  border-top: solid 2px #3f2652;
  height: 40px;
}
.chat__footer form {
  width: 100%;
}
.chat__footer svg {
  width: 24px;
  height: 21.7px;
  fill: #7a6e7f;
  color: #7a6e7f;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}
.chat__footer svg:hover path {
  fill: $c-gray;
  color: $c-gray;
}
.chat__footer input {
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-family: Open Sans,sans-serif;
  background: none;
  border: none !important;
  box-shadow: none;
  resize: none;
  outline: none !important;
  overflow: hidden;
  padding: 10px 15px 10px 0;
}
.chat__messages {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border-radius: 5px;
  background-color: #3f2652;
  padding: 10px 14px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.chat__messages-item {
  position: relative;
  display: flex;
  align-items: center;
}
.chat__messages-item.close:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3e%3cpath fill='%23ae9fb5'  fill-rule='nonzero' d='M8.5 6.83L15.33 0 17 1.67 10.17 8.5 17 15.33 15.33 17 8.5 10.17 1.67 17 0 15.33 6.83 8.5 0 1.67 1.67 0 8.5 6.83z'/%3e%3c/svg%3e");
  background-size: contain;
  cursor: pointer;
}
.chat__messages-item.close:hover:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3e%3cpath fill='%23fff'  fill-rule='nonzero' d='M8.5 6.83L15.33 0 17 1.67 10.17 8.5 17 15.33 15.33 17 8.5 10.17 1.67 17 0 15.33 6.83 8.5 0 1.67 1.67 0 8.5 6.83z'/%3e%3c/svg%3e");
  background-size: contain;
  cursor: pointer;
}
.chat__messages-item:before {
  content: '';
  width: 14px;
  height: 13px;
  display: block;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.chat__messages-item.user:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13'%3e%3cg fill='%2391FF4A' fill-rule='evenodd'%3e%3cpath d='M4.063 8h3.875A4.062 4.062 0 0 1 12 12.062c-.063.269-.145.46-.247.574-.101.114-.295.236-.583.364H.797c-.258-.131-.427-.253-.509-.364-.08-.111-.177-.302-.288-.573A4.062 4.062 0 0 1 4.063 8z'/%3e%3crect width='6.65' height='7' x='2.85' rx='3.15'/%3e%3c/g%3e%3c/svg%3e");
}
.chat__messages-item.answer:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15'%3e%3cpath fill='%2391FF4A' fill-rule='nonzero' d='M7 0c3.865 0 7 2.995 7 6.377 0 1.676-.773 3.192-2.022 4.3l1.019 3.433c-1.376-.216-2.279-.413-2.71-.591-.535-.222-1.081-.624-1.639-1.207a7.778 7.778 0 0 1-1.648.19c-3.865 0-7-2.743-7-6.125S3.135 0 7 0z'/%3e%3c/svg%3e");
}
.chat__messages-item a {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 25px;
  text-decoration: none;
  cursor: pointer;
}
.chat__messages-item a:hover {
  color: #91ff4a;
}
.chat__messages-panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f2652;
  opacity: 0;
  transition: all .3s;
}
.chat__messages:hover .chat__messages-panel {
  opacity: 1;
}
.chat__messages_admin {
  background: transparent;
  border: solid 2px #3f2652;
}
.chat__messages_admin .chat__messages-name {
  display: flex;
  align-items: center;
}
.chat__messages_admin .chat__messages-name:before {
  content: '';
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10'%3e%3cpath fill='%2391FF4A' fill-rule='evenodd' d='M10.933 10L12 3.095h-1.067L9.061 5.99 6.816.308H5.294L2.939 5.99.965 3.095H0L.965 10z'/%3e%3c/svg%3e");
  width: 12px;
  height: 9.7px;
  display: block;
}
.chat__messages_admin .chat__messages-name span {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin-left: 5px;
  letter-spacing: normal;
  color: #ffffff;
}
.chat__messages-name {
  font-size: 13px;
  font-weight: bold;
  color: $c-gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.chat__messages-name span:last-child {
  cursor: pointer;
}
.chat__messages-name .arrow {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11' viewBox='0 0 7 11'%3e%3cpath fill='none' fill-rule='evenodd' stroke='%23AE9FB5' stroke-width='2' d='M1.5 1.439l4 4.015-4 3.985'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  margin: 0 5px;
  width: 9px;
  height: 10px;
  display: inline-block;
}
.chat__messages-text {
  font-size: 13px;
  word-wrap: break-word;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  overflow: hidden;
  color: #ffffff;
  margin-top: 5px;
}
.chat__head {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.chat__status {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.chat__status span {
  padding-left: 10px;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  color: #ffffff;
}
.chat__status:before {
  content: '';
  width: 12px;
  display: block;
  height: 13px;
  background-position: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13'%3e%3cg fill='%23A297A6' fill-rule='evenodd'%3e%3cpath d='M4.063 8h3.875A4.062 4.062 0 0 1 12 12.062c-.063.269-.145.46-.247.574-.101.114-.295.236-.583.364H.797c-.258-.131-.427-.253-.509-.364-.08-.111-.177-.302-.288-.573A4.062 4.062 0 0 1 4.063 8z'/%3e%3crect width='6.65' height='7' x='2.85' rx='3.15'/%3e%3c/g%3e%3c/svg%3e");
}

.tabs_group {
  display: flex;
}
.tabs_group .tabs__item:last-child {
  border-radius: 0 5px 5px 0;
}
.tabs_group .tabs__item:first-child {
  border-radius: 5px 0px 0px 5px;
}
.tabs__item {
  width: 84px;
  height: 34px;
  border: solid 2px #3f2652;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs__item span {
  line-height: 34px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1.6px;
  color: $c-gray;
}
.tabs__item.active {
  background: #3f2652;
}
.tabs__item.active span {
  color: #fff;
}
.tabs__item:hover:not(.active) {
  border: solid 2px $c-gray;
}
.tabs__item:active:not(.active) {
  border: solid 2px $c-gray;
}
.tabs__item:active:not(.active) span {
  color: #fff;
}

.tabs__content {
  height: 100%;
  position: relative;
}

.tabs__content-item {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.tabs__content-item:not(:last-child) {
  display: none;
}



.live {
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.live.categories .live__header-categories svg {
  display: none;
}
.live.categories .live__header-categories span {
  display: none;
}
.live.categories .live__header-categories .hide {
  display: block;
}
.live__messages {
  border-radius: 5px;
  background-color: #3f2652;
  padding: 10px 14px;
  margin-top: 15px;
  transition: all .2s;
}
.live:first-child .live__messages{
  margin-top 0
}
.live-main::-webkit-scrollbar {
  width: 0px;
}
.live__main {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5px;
}
.live__main-price {
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.live__main-name {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  max-width: 110px;
  color: $c-gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.live__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin: 0 -16px;
  height: 40px;
  position: relative;
  box-sizing: border-box;
  border-top: solid 2px #3f2652;
  cursor: pointer;
}
.live__footer span {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
}
.live__footer span:hover {
  color: $c-gray;
}
.live__footer .arrow {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7'%3e%3cpath fill='%23A19CA3' fill-rule='nonzero' d='M1.83-.056L.416 1.358l4.707 4.708L9.83 1.358 8.416-.056 5.123 3.237z'/%3e%3c/svg%3e");
  width: 10px;
  height: 7px;
  margin-left: 5px;
}
.live__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live__header-categories {
  display: flex;
  align-items: center;
}
.live__header-categories span {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $c-gray;
  margin-left: 5px;
}
.live__header-categories .hide {
  display: none;
}
.live__header-bonus {
  width: 43px;
  height: 18px;
  border-radius: 4px;
  background-color: #2a0f3e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.live__header-bonus span {
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8e749b;
}

.chat-open {
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 18px;
  width: 20px;
  height: 34px;
  border-radius: 5px 0px 0px 5px;
  background-color: #91ff4a;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media screen and (max-width: 719px){
    display none
  }
}
.chat-open:hover {
  background: #fff;
}
.chat-open.open {
  background-color: #3f2652;
  @media screen and (max-width: 719px){
    display block !important}

}
.chat-open.open:active:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='13' viewBox='0 0 9 13'%3e%3cpath fill='%23000' fill-rule='nonzero' d='M.574 11.263l1.352 1.474L8.73 6.5 1.926.263.574 1.737 5.77 6.5z'/%3e%3c/svg%3e") !important;
  background-color: #8e749b;
}
.chat-open.open:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='13' viewBox='0 0 9 13'%3e%3cpath fill='%23A297A6' fill-rule='nonzero' d='M.574 11.263l1.352 1.474L8.73 6.5 1.926.263.574 1.737 5.77 6.5z'/%3e%3c/svg%3e");
}
.chat-open.open:hover:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='13' viewBox='0 0 9 13'%3e%3cpath fill='%23fff' fill-rule='nonzero' d='M.574 11.263l1.352 1.474L8.73 6.5 1.926.263.574 1.737 5.77 6.5z'/%3e%3c/svg%3e");
}
.chat-open:after {
  position: absolute;
  content: '';
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='13' viewBox='0 0 9 13'%3e%3cpath fill='%23000' fill-rule='nonzero' d='M8.48 11.263l-1.352 1.474L.324 6.5 7.128.263 8.48 1.737 3.284 6.5z'/%3e%3c/svg%3e");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.new-message {
  animation: messages .3s;
}

@keyframes messages {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.chat-error {
  background: #ff523b;
  margin-bottom: 0;
  padding: 10px 14px;
  position: absolute;
  bottom: 100%;
  opacity: 0;
  left: 0;
  transition: all .3s;
  right: 0;
  z-index: -1;
}
.chat-error.required {
  opacity: 1;
  z-index: 1;
}
.chat-error .chat__messages-text {
  margin-top: 0;
}
.chat-error .chat__messages-name {
  color: #fff;
}

.live-main {
  height: calc(100% - 88px);
  position: relative;
  overflow-y: auto;
  
}

@media screen and (max-width: 719px) {
  .chat {
    width: 100%;
    transform: translateX(100%);
  }

  .chat__main {
    height: calc(100% - 94px);
  }

  .live-main {
    height: calc(100% - 94px);
    overflow: auto;
  }

  .chat__head {
    margin: -16px;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.4);
    padding: 16px;
    margin-bottom: 15px;
  }
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}

.drop-menu {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border: solid 1px #8e749b;
  background-color: #3f2652;
  opacity: 0;
  z-index: -1;
  transition: .2s;
   @media screen and (max-width: 719px){
      min-width: 200px;
      right: 0;
      left: auto;
      top: 100%;
      bottom: unset;
    
  }
}
.drop-menu.active {
  opacity: 1;
  z-index: 1;
   @media screen and (max-width: 719px){
      z-index: 999;
    }

 

}
.drop-menu.active span {
  color: $c-gray;
}
.drop-menu ul {
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 216px;
}
.drop-menu li {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.54;
  letter-spacing: normal;
  color: #ffffff;
  padding: 0 30px;
  list-style: none;
}
.drop-menu li.active {
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
}
.drop-menu li.active:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #91ff4a;
  display: block;
  position: absolute;
  left: 16px;
  border-radius: 50px;
}
.drop-menu li:hover {
  background-color: #000000;
}

.dropdown.active .arrow {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7'%3e%3cpath fill='%2391FF4A' fill-rule='nonzero' d='M1.414 6.121L0 4.707 4.707 0l4.707 4.707L8 6.121 4.707 2.828z'/%3e%3c/svg%3e");
}
.chat__messages-item.close{
  display none
}
@media screen and (max-width: 719px) {
  .chat__footer input {
    font-size: 16px;
  }
  .chat__messages-item.close{
    display block
  }
}
.page{
  transition: all .3s;
}
@media screen and (min-width: 1366px) {
  .open-chat-page{
    padding-right: 300px;
  }
}
@media screen and (max-width: 719px) {
  .open-chat-page{
    overflow hidden
  }
  .live-hide{
    display none !important
  }
}