.button-group
    display flex
    width 100%
    border-radius: 5px;
    overflow hidden
    box-sizing: border-box;
    @media screen and (max-width: 719px)
        padding-bottom: 7px;
    &__item
        width: 33px;
        height: 30px;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1.33px;
        color: $c-gray;
        text-decoration none
        flex: 1
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px $b-border
        
        &:hover
            border: solid 2px #ae9fb5 !important
            @media screen and (max-width: 719px)
                border: none !important
        &.active
            background-color: $b-border
            color: #fff
            
        &.center
            border-left: none;
            border-right: none;
        &.active.center:hover
            border: solid 2px #ae9fb5 !important
            @media screen and (max-width: 719px)
                border: none !important
        @media screen and (max-width: 719px)
            width 100%
            height auto
            border: none !important
            background-color: transparent !important;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #ffffff;