.footer
    background #2a0e3e
    padding 20px 0
    @media screen and (max-width: 719px)
        padding 10px 0
    .menu
        margin 5px -10px
        @media screen and (max-width: 719px)
            display none
    .mail
        text-align right
        @media screen and (max-width: 719px)
            text-align left
        .copyright
            line-height normal
            @media screen and (max-width: 719px)
                font-size 11px
    &__item
        display flex
        justify-content: space-between;
        &:first-child
            @media screen and (max-width: 719px)
                justify-content: space-between;
                align-items: center;
        @media screen and (max-width: 719px)
            justify-content: end;
.copyright
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom 5px
    