mixin footer(data)
    footer.footer
        .content
            .footer__item
                .copyright © Капитан Икс. 2019
                a.social-item.vk(href="")
                    .social__icon
                        i
                    .social__text Группа VK
            .footer__item
                .footer__menu
                    ul.menu
                        li.menu__item
                            a(href="#").link.menu__link Все игры
                        li.menu__item
                            a(href="#").link.menu__link Стэпбол
                        li.menu__item
                            a(href="#").link.menu__link Краш
                        li.menu__item
                            a(href="#").link.menu__link BlackJack
                    ul.menu
                        li.menu__item
                            a(href="#").link.menu__link Промокод
                        li.menu__item
                            a(href="#").link.menu__link Рефералы
                        li.menu__item
                            a(href="#").link.menu__link FAQ
                        li.menu__item
                            a(href="#").link.menu__link Условия использования
                        li.menu__item
                            a(href="#").link.menu__link Политика конфиденциальности
                .mail
                    .copyright По любым вопросам и сотрудничеству
                    a(href="#").link boss@kapitan-x.com
