
.social-item
    display flex
    text-decoration none
   
    &.vk
        i
            bg-svg($vk-w);
            display block
            transform: scale(0.8);
            height: 16px;
.social
    
    &__icon
        width: 24.9px;
        height: 24.9px;
        background-color: #3f2652;
        border-radius: 50px
        display flex
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right 10px
    &__text
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #ae9fb5;
        &:hover
            color: $c-green