mixin balance(data)
    .balance
        .balance__count
            span(id="balance" data-value="3.00") 30 497
            span.b-rub Р
        a.button_mini.open-modal(href="#popup_withdraw_tabs" data-effect="mfp-move-from-top")
            span Депозит
            svg(width="10px" height="10px" viewbox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                g#Symbols(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                    g(id="desktop/form/deposit-button/default" transform="translate(-86.000000, -12.000000)")
                        g(id="desktop/form/deposit-button")
                            g#Group(transform="translate(86.000000, 12.000000)")
                                path#Rectangle(d="M9.5,9.5 L9.5,0.5 L3,0.5 C1.61928813,0.5 0.5,1.61928813 0.5,3 L0.5,7 C0.5,8.38071187 1.61928813,9.5 3,9.5 L9.5,9.5 Z" stroke="#91FF4A")
                                circle#Oval(fill="#91FF4A" cx="5" cy="5" r="2")
