.balance
    display: flex;
    align-items: center;
    height: 34px;
    justify-content: flex-end;
    @media screen and (max-width: 719px)
        height auto
    &__count
        margin-right 10px
        span 
            font-size: 30px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #91ff4a;
            @media screen and (max-width: 719px)
                font-size: 20px;
    &__button
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        width: 97px;
        height: 34px;
        display flex
        align-items: center;
        justify-content: center;
        background-image url(/static/img/general/button-bg.svg);

.button_mini {
   width: 97px;
    height: 34px;
    position relative
    border-radius: 5px;
    border: solid 2px #91ff4a;
    text-decoration none;
    background: none;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s; 
    @media screen and (max-width: 719px){
        width: 82px;
        font-size: 11px;
        height: 30px;
    }
}
.button_mini svg{
    position: absolute;
    right: -1px;
}
.button_mini:not(:disabled):not(.button_mini_loader):hover svg path{ 
    stroke: #fff;
}
.button_mini:not(:disabled):not(.button_mini_loader):hover svg circle{ 
    fill: #fff;
}

@media screen and (min-width: 720px) {
    .button_mini:not(:disabled):not(.button_mini_loader):hover {
        border: solid 2px #ffffff;
        color: #fff
    }
}
.button_mini:disabled {
    background-color: #48444e;
    color: #817c89;
    border-width: 0;
}