.input
    height: 48px;
    border-radius: 4px;
    border: solid 2px $b-light;
    background-color: $b-darck;
    transition: all .3s;
    outline: none;

    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    box-sizing: border-box
    padding: 8px 10px;

    width 100%
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
