.title
    &_type
        &_h2
            font-size: 20px;
            font-weight: 800;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
    &_visibility
        &_mob
            display none
            @media screen and (max-width: 719px)
                display block

