.advantages
    margin: 0 -5px
    display block
    width auto
    @media screen and (max-width: 719px)
        margin 0
    &__item
        padding: 34px;
        margin-left 5px
        margin-right 5px
        display inline-block
        vertical-align top
        width calc(33% - 10px);
        box-sizing: border-box;
        padding-bottom: 18px;
        height 300px
        @media screen and (max-width: 719px)
            width 100%
            max-width: 249px
            height auto
            padding 22px
            margin 0
            padding-bottom 10px
            
    
    &__icon
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 62%;
        @media screen and (max-width: 719px)
            width 110px
            height 110px
            margin: auto;
            
    &__name
        font-size: 17px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.24;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 13px 0;
        @media screen and (max-width: 719px)
            font-size: 13px;
            margin-top 23px
    &__text
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #fcfcfc;
        @media screen and (max-width: 719px)
            font-size: 12px;

.advantages_slider_true.owl-carousel .owl-stage-outer
    overflow visible