mixin advantages(data)
    h2.title.title_type_h2.title_visibility_mob Капитан рулит
    +b.advantages.advantages_slider_true
        +e.item.block
            +e.icon 
                img(src="../static/img/content/roubles.png", alt="")
            +e.H2.name Огромные выигрыши
            +e.P.text В 50, 100, 250, 1 000 раз больше сделанной ставки
        +e.item.block
            +e.icon 
                img(src="../static/img/content/group.png", alt="")
            +e.H2.name Бонус за регистрацию
            +e.P.text Чтобы попробовать, не обязательно пополняться
        +e.item.block
            +e.icon 
                img(src="../static/img/content/chrono.png", alt="")
            +e.H2.name Моментальные выплаты
            +e.P.text 1-2 минуты и выигрыш у вас на кошельке