mixin header(data)
    +b.header
        +e.A.logo(href="/").logo
            img(src="../static/img/general/logo.svg", alt="")
            img(src="../static/img/general/logo-mob.svg", alt="" class="logo_visibility_mob") 
        +e.menu
            +e.item
                +e.item-icon
                +e.SPAN.item-text.link Стэпбол
            +e.item
                +e.item-icon
                +e.SPAN.item-text.link Краш
            +e.item
                +e.item-icon
                +e.SPAN.item-text.link BlackJack
        +e.toolbar
            .demo
                .demo-item.active
                    +b.A.button._theme_green(href="#")
                        span.button__icon.vk
                        span.button__text ВОЙТИ
                .demo-item
                    +balance()
            +e.toolbar-menu
                +b.UL.menu
                    +e.LI.item
                        a(href='#').link.menu__link  Промокод
                    +e.LI.item
                        a(href='#').link.menu__link  Рефералы
                    +e.LI.item
                        a(href='#').link.menu__link  FAQ
                +b.lang
                    +e.item._ru
                +e.toolbar-user.demo-item-pic
                    +e.toolbar-user-pick

    .header-fix
        .header__item
            .header__item-icon
            span.header__item-text.link Стэпбол
        .header__item
            .header__item-icon
            span.header__item-text.link Краш
        .header__item
            .header__item-icon
            span.header__item-text.link BlackJack
        .header-fix__panel
            a.header-fix__panel-icon(href="#")
                .chat-icon
            a.header-fix__panel-icon(href="#")
                .menu-icon