.header
    display flex
    padding-top 18px
    margin-bottom 20px
    @media screen and (max-width: 719px)    
        padding-top 9px
        height: 41px;
        margin-bottom: 0;
    &__logo
        width 98px
        height 78px
        border-radius: 9px
        display block
        @media screen and (max-width: 719px)    
            height auto
            width auto
    &__menu
        display: flex;
        margin-left: 18%
        padding-top: 4px;
        @media screen and (max-width: 719px)
            display none
    &__toolbar
        margin-left: auto;
        text-align right
        &-menu
            display: flex;
            margin-top: 18px;
            align-items: center;
            @media screen and (max-width: 719px)
                display none
    &__toolbar-user
        margin-left 18px
    &__toolbar-user-pick
        width: 21px;
        height: 21px;
        border-radius: 10.5px;
        box-sizing: border-box;
        position relative
        bg-svg($user);
        cursor pointer
        &:hover
            bg-svg($user-hover);            

    &__item
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
        @media screen and (max-width: 719px)
            padding 0 10px
            margin-right: 10px;
            &:last-child
                margin-right 0
        &-icon
            width 40px
            height 40px
            border-radius: 5px
            background $b-while
            @media screen and (max-width: 719px)
                width 20px
                height 20px
        &-text
            width 100%
            text-align center
            display block
            margin-top 10px
            @media screen and (max-width: 719px)
                font-size: 11px !important;
                margin-top 0
.header-fix
    display none
    @media screen and (max-width: 719px)
        position fixed;
        height: 50px;
        padding 0 6px;
        display flex
        bottom: 0;
        width 100%
        z-index: 1001;
        left: 0;
        right: 0;
        box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.15);
        background-color: #3b0060;
        align-items: center;
        box-sizing: border-box;
        &__panel
            width: 73px;
            height: 38px;
            border-radius: 5px;
            background-color: #2a0e3e;
            display flex;
            align-items: center;
            margin-left: auto;
            &-icon
                display: flex;
                justify-content: center;
                width 50%
                .chat-icon
                    bg-svg($chat)
                .menu-icon
                    bg-svg($menu)