.button
    text-decoration none
    display inline-block
    color: $c-gray;
    text-decoration: none;
    cursor: pointer;
    background $b-while
    border-radius: 4px;
    padding: 7px 14px;
    &_theme
        &_transparency
            width: 108px;
            height: 34px;
            border-radius: 5px;
            border: solid 2px rgba(255, 255, 255, 0.2);

            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            box-sizing: border-box;
            margin: auto;
            display: block;
            margin-top 15px
            margin-bottom 15px
            text-decoration none
        &_lg
            height: 59px;
            border-radius: 4px;
            box-shadow: inset 0 -3px 0 0 rgba(0,0,0,.24);
            background-image: linear-gradient(#c5ff29,#6fff61);
            border: none;
            font-size: 21px;
            font-weight: 800;
            line-height: .95;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: none;
            outline: none
            position: relative;
            &:hover
                box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.24);
                background-image: none;
                background-color: #fff;
            &:active
                box-shadow: inset 0 4px 0 0 rgba(29,1,48,.3);
                background-image: none;
                background-color: #fff;
                transition: none;
                border-radius: 4px;
        &_green
            background-image: $c-green-mix
            &:hover
                box-shadow: inset 0 -2px 0  rgba(0, 0, 0, 0.24);
                background-image: none;
                background-color: #ffffff;
            &:active
                box-shadow: inset 0 3px 0 0 rgba(29, 1, 48, 0.3);
                background-color: #ffffff;
                background-image: none;
            .button__icon
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                &.vk
                    bg-svg($vk);
            .button__text
                font-size: 13px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
                display: inline-block;
                vertical-align: middle; 
