.link
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ae9fb5;
    text-decoration none
    cursor pointer
    @media screen and (max-width: 719px)
        font-size 14px
    &:hover
        color: $c-green

