mixin gameboard(data)
    +b.gameboard
        +e.panel.__col
            +e.level
                +e.level-count
                    | Уровень
                    span.level 1
                +e.level-task
                    img(src="%=static=%img/assets/gameboard/b-red.svg", alt="")
                    +e.task-name Найди красный шар
                +e.level-prize
                    | Приз: 
                    span.level-prize 2
            +e.error.yellow
                span Вы выиграли 0Р
            +e.rate
                +e.caunt
                    .form__input.form__input_icon
                        input#summaPlus.input(type='number' maxlength='999' pattern='[0-9]*' name='summa' value='10')
                        .form__icon
                            svg(xmlns='http://www.w3.org/2000/svg' width='12' height='16' viewbox='0 0 12 16')
                                path(fill='#7a6e7f' fill-rule='nonzero' d='M.827 7.549h1.588V.417h4.091c.76 0 1.453.085 2.08.257a4.507 4.507 0 0 1 1.61.782c.446.35.797.794 1.05 1.33.253.537.38 1.178.38 1.923 0 .746-.134 1.394-.402 1.945a3.9 3.9 0 0 1-1.096 1.375 4.667 4.667 0 0 1-1.632.817 7.38 7.38 0 0 1-2.035.268H4.203v2.258h3.6v1.476h-3.6V16H2.415v-3.152H.827v-1.476h1.588V9.114H.827V7.549zm5.68 0c1.028 0 1.836-.235 2.425-.704.589-.47.883-1.182.883-2.136 0-.954-.294-1.647-.883-2.079-.589-.432-1.397-.648-2.426-.648H4.203v5.567h2.303z')
                    .gameboard__rate-items
                        .gameboard__rate-item(data-value='1') 1
                        .gameboard__rate-item.gameboard__rate-item_active(data-value='10') 10
                        .gameboard__rate-item(data-value='50') 50
                        .gameboard__rate-item(data-value='100') 100
                #panel-game
                    button#start.button.button_theme_lg Играть за 
                        span.price 10
                        span.b-rub ₽
                    button.gameboard__button_finish.gameboard__button_finishgame.button_mini(id="end-game") Забрать выигрыш и закончить
        +e.board.__col
            +e.board-content
                +e.items
                    - for (var x = 0; x < 9; x++)
                        +e.item
                            +e.icon
                                .icon-game
                            +e.balloon
                .drop-content#text-block
                    p На игровом поле спрятано одинаковое количество красных и синих шаров + 1 зеленый.
                    p Тебе нужно открывать клетки и по очереди находить красный и синий шары друг за другом. Начало всегда с красного. Чтобы пройти последний уровень, надо найти зеленый шар.  
                    p За каждый правильно угаданный шар получаешь приз: твоя ставка умножится на значение соответствующее пройденному уровню.  Например: если ставка 10, то за 3 отгаданных шара ты получишь 100.
                    p Не угадал шар — проиграл. Например: надо было открыть красный, а ты открыл зеленый или синий.
                a.button.button_theme_transparency.drop-link(href="#text-block") Как играть
            +e.board-panel
                +e.board-panel__title Уровни
                +e.board-panel__level
                    +b.button-group.tabs-level.button-group_slider_yes
                        +e.A.item(href="" data-level='6') 4 
                        +e.A.item(href="" data-level='9').active.center 8
                        +e.A.item(href="" data-level='16') 15
                    
                +e.board-panel__level-items
                    +e.board-panel__level-item 1 000 000
                    +e.board-panel__level-item 250 000
                    +e.board-panel__level-item 100 000
                    +e.board-panel__level-item 50 000
                    +e.board-panel__level-item 20 000
                    +e.board-panel__level-item 10 000
                    +e.board-panel__level-item 40 000
                    +e.board-panel__level-item 2 000
    +b.block-live._mob
        +e.head
            +e.title ЛАЙВ
            +e.panel
                .live__footer.dropdown(data-menu="menu-one")
                    .drop-menu
                        ul
                            li.active(data-live="")  Выигрыши от 500
                            li Грабители
                            li Мои игры
                            li(data-live=".live1") Только Стэпбол
                            li Только Краш
                            li(data-live=".live2") Только Дайсы
                    span Выигрыши от 500
                    span.arrow

        +e.body
            +e.slider
                .live.live1
                    .live__messages
                        .live__header
                            .live__header-categories
                                svg(xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewbox="0 0 15 14")
                                    g(fill="#AE9FB5" fill-rule="evenodd")
                                        circle(cx="7.5" cy="3.5" r="3.5")
                                        circle(cx="3.5" cy="10.5" r="3.5")
                                        circle(cx="11.5" cy="10.5" r="3.5")
                                span Стэпбол
                                span.hide Ставка 10
                                    i.b-rub ₽
                            .live__header-bonus
                                span X2.55
                        .live__main
                            .live__main-price
                                span 736 846
                                i.b-rub ₽
                            .live__main-name Ибрагим Байбеков
                .live.live2
                    .live__messages
                        .live__header
                            .live__header-categories
                                svg(xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewbox="0 0 15 14")
                                    g(fill="#AE9FB5" fill-rule="evenodd")
                                        circle(cx="7.5" cy="3.5" r="3.5")
                                        circle(cx="3.5" cy="10.5" r="3.5")
                                        circle(cx="11.5" cy="10.5" r="3.5")
                                span Стэпбол
                                span.hide Ставка 10
                                    i.b-rub ₽
                            .live__header-bonus
                                span X2.55
                        .live__main
                            .live__main-price
                                span 736 846
                                i.b-rub ₽
                            .live__main-name Ибрагим Байбеков
                .live.live2
                    .live__messages
                        .live__header
                            .live__header-categories
                                svg(xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewbox="0 0 15 14")
                                    g(fill="#AE9FB5" fill-rule="evenodd")
                                        circle(cx="7.5" cy="3.5" r="3.5")
                                        circle(cx="3.5" cy="10.5" r="3.5")
                                        circle(cx="11.5" cy="10.5" r="3.5")
                                span Стэпбол
                                span.hide Ставка 10
                                    i.b-rub ₽
                            .live__header-bonus
                                span X2.55
                        .live__main
                            .live__main-price
                                span 736 846
                                i.b-rub ₽
                            .live__main-name Ибрагим Байбеков 
                .live.live2
                    .live__messages
                        .live__header
                            .live__header-categories
                                svg(xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewbox="0 0 15 14")
                                    g(fill="#AE9FB5" fill-rule="evenodd")
                                        circle(cx="7.5" cy="3.5" r="3.5")
                                        circle(cx="3.5" cy="10.5" r="3.5")
                                        circle(cx="11.5" cy="10.5" r="3.5")
                                span Стэпбол
                                span.hide Ставка 10
                                    i.b-rub ₽
                            .live__header-bonus
                                span X2.55
                        .live__main
                            .live__main-price
                                span 736 846
                                i.b-rub ₽
                            .live__main-name Ибрагим Байбеков 
                .live.live2
                    .live__messages
                        .live__header
                            .live__header-categories
                                svg(xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewbox="0 0 15 14")
                                    g(fill="#AE9FB5" fill-rule="evenodd")
                                        circle(cx="7.5" cy="3.5" r="3.5")
                                        circle(cx="3.5" cy="10.5" r="3.5")
                                        circle(cx="11.5" cy="10.5" r="3.5")
                                span Стэпбол
                                span.hide Ставка 10
                                    i.b-rub ₽
                            .live__header-bonus
                                span X2.55
                        .live__main
                            .live__main-price
                                span 736 846
                                i.b-rub ₽
                            .live__main-name Ибрагим Байбеков 