.gameboard
    margin-bottom 10px;
    display flex
    &.game-start
        .gameboard__board-panel__level
            position relative
            cursor: no-drop;
            &:after
                content: ''
                position absolute
                left 0
                right 0
                bottom: 0
                right 0
                z-index 100
                height 100%
                width 100%
        
    @media screen and (max-width: 719px)
        margin: 0 -10px;
        border-bottom: 1px solid rgba(255,255,255,0.19);
    &__item_rotated 
        .gameboard__balloon 
            opacity: 1;
            z-index: 1000;
    &__balloon
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: none;
        z-index: 800;
        background-color: #2a0e3e;
        opacity: 0;
        display: flex;
        border: solid 1px #3f2452;
        border-radius: 5px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in-out;
        &:after
            content: "";
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            background: url(%=static=%assets/gameboard/stepball_balls_sprite.png) no-repeat -1000px;
            display: block;
            @media screen and (max-width: 719px)
                transform: translate(-50%,-50%) scale(.68);
                position: absolute;
                left: 50%;
                top: 50%;
        &_red
            &:after
                background-position: -100px 0;
        &_blue
            &:after
                background-position: 0 0;
        &_green
            &:after
                background-position: -200px 0;
        &_luck
            background-image: none;
            box-shadow: inset 0 0 40px 0 rgba(145,255,74,.5);
            background-color: #040b00;
    &__icon
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #3f2452;
        cursor: pointer;
        z-index: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all .3s ease-in-out;
        &_active
            background-color: #3f2452;
            .icon-game
                bg-svg($game-icon-active)  
        &:hover
            background-color: #91ff4a;
            .icon-game
                bg-svg($game-icon-hover)
        &:active
            background-color: #91ff4a;
            .icon-game
                bg-svg($game-icon-state)
        svg 
            width: 50px;
            height: 50px;
            transition: all .3s;
    &__items
        display: flex;
        flex-wrap: wrap;
        margin: -4px;
        overflow hidden
        height: 510px
        width: calc(100% + 10px);
        @media screen and (max-width: 719px)
            height auto
            width: auto
            margin 0
            display: grid;
            row-gap: 5px;
            column-gap: 5px
            grid-template-columns: repeat(3, 1fr);
        &.big
            @media screen and (max-width: 719px)
                grid-template-columns: repeat(4, 1fr);                
            .gameboard__item
                width: 118px;
                height: 118px;
                margin: 5px;
                @media screen and (max-width: 719px)
                    width auto 
                    height 0
                    margin 0
            .gameboard__balloon:after
                transform: scale(0.8);
                @media screen and (max-width: 719px)
                    transform: translate(-50%, -50%) scale(0.48);
                    position: absolute;
                    left: 50%;
                    top: 50%;
        &.small
            display: grid
            .gameboard__item
                @media screen and (max-width: 719px)
                    box-sizing: border-box;
            .gameboard__item.disable {
                visibility hidden
                z-index: -99;
                opacity 0    
            }
            .gameboard__item:nth-child(1){
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 3;
                @media screen and (max-width: 719px){
                    grid-column-end: 3;
                }
            }
            .gameboard__item:nth-child(2){
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 3;
                @media screen and (max-width: 719px){
                    grid-column-end: 3;

                }
            }
            @media screen and (max-width: 719px){
                .gameboard__item:nth-child(3){
                   grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }

            }
            .gameboard__item:nth-child(4){
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            .gameboard__item:nth-child(5){
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            .gameboard__item:nth-child(6){
                grid-column-start: 1;
                grid-row-start: 1;
            }
    &__item
        width: 163px;
        margin: 4px;
        z-index: 1000;
        height: 163px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        transition: opacity .2s;
        &.animate-out{
            opacity 0;
        }
        @media screen and (max-width: 719px)
            width: auto;
            margin 0
            height: 0;
            padding-bottom 100%
        
    &__board
        width calc(100% - (314px + 10px))
        margin-left 10px
        display: flex;
        @media screen and (max-width: 719px)
            width 100%
            margin-left 0
        &-panel
            width: 130px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: solid 2px #241532;
            background-color: #301746;
            box-sizing: border-box
            height 100%
            padding: 25px 15px;
            
            @media screen and (max-width: 719px)
                width 60px
                padding 0;
                border-radius: 0;
                background-color #2a0e3e
                border: none;
                border-left: 1px solid rgba(255,255,255,0.19);
            &__level
                margin-bottom 15px;
                @media screen and (max-width: 719px)
                    margin-bottom 4px
                .owl-nav
                    position: absolute;
                    left: 4px;
                    right: 4px;
                    top: 10px;
                    height: 0;
                    display: flex;
                    justify-content: space-between;
                    .owl-prev , .owl-next
                        span
                            font-size 0;
                            display: block;
                            bg-svg($arrow-slider)
                    .owl-prev
                        span
                            transform: rotate(90deg);
                    .owl-next
                        span
                            transform: rotate(-90deg);
                @media screen and (max-width: 719px)
                    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
            &__title
                font-size: 14px;
                font-weight: 800;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
                margin-bottom: 15px;
                @media screen and (max-width: 719px)
                    font-size: 11px;
                    font-weight: normal;
                    margin-top 7px
                    color: #ae9fb5;
                    margin-bottom: 3px;
            &__level-item
                width: 100%;
                height: 30px;
                border-radius: 5px;
                background-color: #3a2150;
                margin-bottom 10px
                font-size: 12px;
                box-sizing: border-box;
                text-align: center;
                color: $c-gray;
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 719px)
                    background: transparent;
                    line-height: 2.5;
                    letter-spacing: normal;
                    margin-bottom 0
                    text-align: center;
                    height auto

        &-content
            width calc(100% - 130px);
            padding: 30px;
            box-sizing: border-box
            @media screen and (max-width: 719px)
                width calc(100% - 60px);
                padding 10px
                box-sizing: border-box
                padding-bottom 0
    &__level
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
        padding-bottom: 20px;
        border-bottom: 1px solid $b-border;
        @media screen and (max-width: 719px)
            display none

        &-count
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
            width: 102px;
            height: 32px;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 2px;
            color: $c-gray;
            text-transform: uppercase;
            margin-bottom: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $c-bg
        &-prize
            height: 30px;
            border-radius: 14px;
            background-color: $b-light
            font-size: 13px;
            font-weight: 700;
            line-height: 1.54;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            margin-top: 9px;
            span 
                margin-left 5px
        &-task
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
    &__task
        &-name
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            margin-top: 14px;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
    &__rate
        padding 0 30px
        padding-bottom 30px
        @media screen and (max-width: 719px)
            width: 255px;
            height: 153px;
            border-radius: 5px;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            background-color: rgba(0, 0, 0, 0.35);
        .price
            margin-left 5px
        &-items
            display flex
            flex-wrap: wrap
            margin-left 8px
            min-width calc(98px + 6px)
        &-item
            width: 45px;
            height: 23px;
            border-radius: 5px;
            border: solid 2px $b-border

            box-sizing: border-box;
            margin-right: 6px;
            margin-bottom: 6px;

            display: flex;
            align-items: center;
            justify-content: center; 

            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $c-gray;
            cursor pointer
            &:not(.gameboard__rate-item_active):hover
                border: 1px solid hsla(0,0%,100%,.75);
            &:not(.gameboard__rate-item_active):active
                box-shadow: inset 0 2px 0 0 rgba(0,0,0,.2);
                background-color: #fff;
                border: none;
                color: #1f1828;
            &_active
                box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
                background-color: #91ff4a;
                color: #000000;
                border: none;
        .button_theme_lg
            width 100%
            margin-top 16px
        .form__input
            max-width: 148px;
            min-width: 148px;
            height 52px
            position relative
            @media screen and (max-width: 719px)
                width: 116px;
                height: 48px;
            .input
                height 100%;
                &:hover
                    border: solid 1px rgba(255, 255, 255, 0.75);
                &:focus
                    box-shadow: 0 0 9px 0 rgba(145, 255, 74, 0.6);
                    border: solid 1px #91ff4a;
        .form__icon
            position absolute
            top: 1px
            border-right: 1px solid $b-border
            bottom: 1px
            width 40px
            display: flex;
            align-items: center;
            justify-content: center;
        .input
            padding-left calc(40px + 10px)
    &__caunt
        margin-top: 20px;
        display flex
    &__error
        height: 36px;
        background-color: #ffed2a;
        align-items: center;
        margin: 0 30px
        line-height: 36px
        align-self center;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display none
        text-align center
        span
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #3f2652;
    &__panel
        width 314px
        box-sizing: border-box;
        @media screen and (max-width: 719px)
            width: calc(100% - 60px);
            display: flex;
            align-items: center;
            justify-content: center;
            height 100%
            position absolute
            z-index: 3001;
            overflow hidden;
            margin-top 10px
            background: transparent !important;
    &__col
        background $b-darck
        border-radius: 9px;
.icon-game
    bg-svg($game-icon)
    @media screen and (max-width: 719px)
        transform: scale(0.5);

@media screen and (max-width: 360px)
    .gameboard__rate
        transform: scale(0.7);
.gameboard__board-panel__level-item.disable {
    display none
}
.gameboard__board-panel__level-item.active{
    background: $c-green;
    color: #1f1828
}
.gameboard__button_finish{
    width 100%
    background-image: none;
    display none;
    margin-top 20px;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #91ff4a;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    transition: all .3s;
    cursor: pointer;
    @media screen and (max-width: 719px){
        display none
    }
}
.gameboard__button_small-height {
    height: 34px;
}
